[submodule "hw1-bilal-sagir"]
	path = hw1-bilal-sagir
	url = https://github.com/148-Mobven-iOS-Bootcamp/hw1-bilal-sagir
[submodule "hw2-bilal-sagir"]
	path = hw2-bilal-sagir
	url = https://github.com/148-Mobven-iOS-Bootcamp/hw2-bilal-sagir
